<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>login/signup form animation</title>
  
  {% load static %}
  <link rel="stylesheet" href="{% static 'index/style.css' %}" >

  
</head>

<body>

  <div class="form-structor">
  <div class="signup slide-up">
    <h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
    <form method="post" action="signup">
    <div class="form-holder">
      {% csrf_token %}
      {{ form1.as_p }}
    </div>
    <button  class="btn-submit">Sign up</button>
  </form>
  </div>
  <div class="login ">
    <div class="center">
      <h2 class="form-title" id="login"><span>or</span>Log in</h2>
      <form method="post" >
      <div class="form-holder">
        {% csrf_token %}
        {{ form2.as_p }}
      </div>
      <button class="btn-submit">Log in</button>
    </form>
    </div>
  </div>
</div>
  

  {% load static %}
  <script  src="{% static 'index/index.js' %}"></script>




</body>

</html>
