<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>WebSockets Demo</title>
  
  
  {% load static %}
  <link rel="stylesheet" href="{% static 'dashboard/style.css' %}">

  
</head>

<body>

  <div id="page-wrapper">
  <h1>WebSockets Demo</h1>
  {{ticket.title}}<br>
  {% for mess in ticket.ticketmessage_set.all %}
    <div>{{mess.message}}</div>
  {% endfor%}

  <form method="POST" action="{% url 'ticket:insert' ticket.pk%}">
      {% csrf_token %}
      {{creatMassegForm}}
      <input type='submit' ,value = 'add'>
  </form>
</div>
</body>

</html>
